<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Player</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
    body {
        font-family: 'Arial', sans-serif;
        text-align: center;
        margin: 50px;
    }
    #audioPlayer {
        width: 100%;
        max-width: 400px;
        margin: 20px auto;
    }
    #playlist {
        list-style: none;
        padding: 0;
    }
    #playlist li {
        margin: 5px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #playlist li:hover {
        transform: scale(1.1);
    }
    </style>
</head>
<body>
    <h1>MUSIC PLAYER APP</h1>
    <h2>Welcome, {{ user.username }}, it is a music player for test, enjoy!</h2>
    <div class="container">
    <div class="player">
        <img style="width:850px; height:250px;"
            src="https://developer.spotify.com/images/documentation/web-api/auth_intro.png"			
            alt id="audioPlayerimg" alt="how this app works (font: Spotify)"/>
        <br />
        <audio id="audioPlayer" class="w-100" controls>Your browser does not support the audio element.</audio>
    </div>

    <!-- Search Song -->
    <!-- 2 Fields+ start botton -->
    <!-- 1st field: calls the function SearchSongs() for songs already on the data bank of user's profile-->
    <!-- it was the frist implementation for testing, but not more useful after Search on Spotify (next botton). Kept only for memory-->
    <!--
    <label for="Search">Search Song:</label>
    <input type="text" id="Search" placeholder="Enter song name" />
    <button onclick="SearchSongs()">Search</button>
    -->

    <!-- 2nd field:  calls the function searchSpotify() for songs from Spotify via API-->
    <label for="spotifySearch">Search Spotify:</label>
    <input type="text" id="spotifySearch" placeholder="Enter song or artist name" />
    <button onclick="searchSpotify()">Search</button>
    <div id="spotifyResults"></div>

    
    <ul id="playlist" class="list-group"></ul>

    <!-- old botton ...kept as memory 
    <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#addSongModal"
            onclick="AddSong()">Add Song</button>
    -->
    
    <!-- Logout Button here!!! two version for the same function-->
    <!-- 1st Version: with method GET [JavaScript Logout()] = not useful in Django, because Django uses method POST with formulary. It is implmented bellow-->
    <!-- keep it here for reference and memory -->
    <!-- 
    <button type="button" class="btnlogout btn btn-danger mt-3" data-toggle="modal"
            data-target="#addSongModal" onclick="Logout()">Logout</button>
    -->
    <!-- 2nd Version: with method POST [formulary] = useful in Django, because Django use method POST with formulary. -->
    <!-- {% csrf_token %} implements a Cross-Site Request Forgery (CSRF) token, which is required to protect against CSRF attacks. Django default.-->
    <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3">Logout</button>
    </form>	
    </div>
    <script>
    
document.addEventListener('DOMContentLoaded', function () {
    fetchSongs();
});

const audioPlayer = document.getElementById('audioPlayer');
const audioPlayerimg = document.getElementById('audioPlayerimg');
const playlist = document.getElementById('playlist');

function fetchSongs() {
    fetch('/api/songs/', {
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        },
    })
    .then(response => {
        if (response.status === 403) {
            alert('You are not authorized to view this content. Please log in.');
            window.location.href = '/login/';
            return;
        }
        return response.json();
    })
    .then(songs => {
        if (songs) {
            // Clear the playlist before adding new songs
            playlist.innerHTML = '';
            songs.forEach(song => {
                playlist.innerHTML += `<li class="list-group-item" onclick="playSong('${song.audio_file}','${song.audio_img}')">
                <span>${song.title} - ${song.artist} - ${song.categorie}</span>
                <div>
                    <button class="btn btn-info btn-sm" onclick="UpdateSong(${song.id})">Update</button>
                    <button class="btn btn-danger btn-sm" onclick="deleteSong(${song.id})">Delete</button>
                </div></li>`;
            });
        }
    })
    .catch(error => console.error('Error fetching data:', error));
}

function playSong(songSrc, songimg) {
    console.log(songSrc);
    console.log(songimg);
    document.querySelectorAll('#playlist li').forEach((item) => {
        item.style.transform = 'scale(1)';
    });
    event.target.style.transform = 'scale(1.2)';
    audioPlayer.src = songSrc.startsWith('http') ? songSrc : `${songSrc}`;
    console.log(audioPlayerimg);
    audioPlayerimg.src = songimg.startsWith('http') ? songimg : `${songimg}`;
    audioPlayer.play();
}

function deleteSong(songId) {
    if (confirm('Are you sure you want to delete this song?')) {
        fetch(`/api/songs/${songId}/`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            if (response.ok) {
                location.reload();
            } else {
                alert('Failed to delete the song. Please try again.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
}

function AddSong() {
    window.location.href = `/add-song/`;
}

function UpdateSong(itemId) {
    window.location.href = `/update-song/${itemId}`;
}

function Logout(itemId) {
    window.location.href = `/logout/`;
}

// SPOTIFY API + SEARCH:
function searchSpotify() {
    const query = document.getElementById('spotifySearch').value;
    fetch('/api/add-song-from-spotify/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
        },
        body: JSON.stringify({ query: query }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            document.getElementById('spotifyResults').innerText = data.message;
            fetchSongs(); // Update the song list
        } else if (data.error) {
            document.getElementById('spotifyResults').innerText = data.error;
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

    </script>
</body>
</html>