# folders for Miscellanous out of git control:
aaabin/

# folders for virtual environments and environment variables:
venv/
venv39/
.env
*/.env

# Django's project:
# https://www.back4app.com/docs-containers/run-a-django-container-app#VPXTk
__pycache__
*.pyc
backend/staticfiles/
*/db.sqlite3
db.sqlite3
*/media/